* {
    font-family: "Raleway", Helvetica, sans-serif; 
    background-color: #b3b3b3;
    font-size: 1rem;
}

#myHeader {
    background-color: lightblue;
    color: black;
    padding: 1em 0;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    width: 80vw;

}

.navigation {
    text-decoration: wavy;
}

html {
    scroll-behavior: smooth;
}

.list-square {
    list-style: square;
    margin-left: 5px;
}

.section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orangered;
    background-color: plum;
}

.article {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rebeccapurple;
    background-color: salmon;
    margin: 2px;
}

.aside {
    width: 30%;
    padding-left: 15rem;
    margin-left: 15rem;
    float: right;
    font-style: italic;
    background-color: wheat;
}

.hearticle {
    background-color: teal;
    color: violet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.city {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20rem;
}

.note {
color: red;
}

a:link {
    color: rgb(141, 59, 218);
}

a:visited {
    color: darkmagenta;
}

a:hover {
    color: aqua;
}

#code {
    color: rgb(141, 59, 218);
    list-style-type: square;
}

.tabela {
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 30px;
}

th {
    border: solid 1px white;
    background-color: rgba(141, 59, 218, 0.5);
    border-collapse: collapse;
    text-align: center;
}

tr, td {
    background-color: rgba(238, 130, 238, 0.5);
    border: solid 1px white;
}

/*tr:nth-child(even) {
    background-color: aquamarine;
}*/ /* If I comment out the previous 2 styles, this becomes active. even=linhas pares odd=linhas ímpares */

/*td:nth-child(even) {
    background-color: aquamarine;
}*/ /* If I comment out the previous 2 styles, this becomes active. even=linhas pares odd=linhas ímpares */

caption {
    color: darkmagenta;
}