/* Define o conjunto de caracteres como UTF-8 */
/* @charset "utf-8"; */

@font-face {
	font-family: 'Red Hat Display'; 
	src: url(../fonts/RedHatDisplay-VariableFont_wght.woff2) format("woff2");
	font-weight: 200 900;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/Dosis-VariableFont_wght.woff2) format("woff2");
	font-weight: 200 900;
}

@font-face {
  font-family: 'EB Garamond';
  src: url(../fonts/EBGaramond-VariableFont_wght.ttf) format("ttf");
	font-weight: 200 900;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(../fonts/JetBrainsMono[wght].woff2) format("woff2");
	font-weight: 200 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.woff2) format("woff2");
	font-weight: 200 900;
}

@font-face {
  font-family: 'Spline Sans';
  src: url(../fonts/SplineSansMono-VariableFont_wght.woff2) format("woff2");
	font-weight: 200 900;
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-VariableFont_wght.woff2) format("woff2");
	font-weight: 200 900;
}

@font-face {
  font-family: "Adventure";
  src: url(../fonts/Adventure.ttf) format("truetype");
}

@font-face {
  font-family: "Bowhouse";
  src: url(../fonts/Bowhouse-Black.otf) format("opentype");
}

:root {
  --aliceblue: #f0f8ff;
  --aquamarine: #7fffd4;
  --black: #000;
  --blanchedalmond: #ffebcd;
  --blue: #0000ff;
  --blue-eyes: hsl(240, 100%, 70%);
  --brown: #a52a2a;
  --burlywood: #deb887;
  --cadetblue: #5f9ea0;
  --chartreuse: #7fff00;
  --chocolate: #d2691e;
  --coral: #ff7f50;
  --cornflower-blue: #6495ed;
  --cornsilk: #fff8dc;
  --crimson: #dc143c;
  --cyan: #00ffff;
  --dark-blue: #00008b;
  --dark-cyan: #008b8b;
  --dark-grey: #777;
  --darker-grey: #222;
  --dark-orange: #ff7a33;
	--dyk: #f8c4a4;
  --green: #52afa5;
  --green-eyes: hsl(82, 39%, 40%);
  --important-info: rgba(250, 30, 0, 0.4);
  --khaki: #f0e68c;
  --lawngreen: #7cfc00;
  --light-blue: #add8e6;
  --light-grey: #999;
  --light-green: #b0f7d4;
  --light-pink: #f7b0eb;
  --light-sea-green: #20b2aa;
  --light-yellow: #f5f7b0;
  --lightest-grey: #aaa;
  --maroon: #800000;
  --medium-grey: #555;
  --navy: #000080;
  --orange: #ff9655;
  --orange-red: #ff4500;
  --plum: #dda0dd;
  --rebecca-purple: #663399;
  --red: #ff0000;
  --salmon: #fa8072;
  --teal: #008080;
  --tomato: #ff6347;
  --violet: #ee82ee;
  --wheat: #f5deb3;
  --white: #ccc;
  --table-border: #ddd;
  --yellow: #ffff00;
}
/* Define a fonte padrão, o tamanho da fonte, o box-sizing e o esquema de cores para todos os itens do site */
* {
  font-family: 'Red Hat Display', system-ui, sans-serif;
  font-size: 1rem;
  color-scheme: light dark;
  box-sizing: border-box;
}

/* Define o comportamento de rolagem como suave */
html {
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0px;
  line-height: 1.5;
}

/* Define o estilo dos elementos de cabeçalho, de parágrafo e de link */
h1, h2, h3, h4 {
  color: var(--orange);
}

h5, h6 {
  color: var(--green);
}

h1 {
  font-size: 2rem;
  margin-left: 5px;
  margin-right: 5px;
}

h2 {
  font-size: 1.8rem;
  margin-left: 5px;
  margin-right: 5px;
}

h3 {
  font-size: 1.6rem;
  margin-left: 5px;
  margin-right: 5px;
}

h4 {
  font-size: 1.4rem;
  margin-left: 5px;
  margin-right: 5px;
}

h5 {
  font-size: 1.2rem;
  margin-left: 5px;
  margin-right: 5px;
}

h6 {
  font-size: 1.1rem;
  margin-left: 5px;
  margin-right: 5px;
}

p {
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
}

a {
  color: var(--orange);
}

/* Define os estilos de elementos mais específicos */
figcaption {
	font-size: 0.9em;
	font-weight: 700;
	font-style: italic;
	color: var(--light-grey);
	text-align: left;
	margin-left: 5px;
	max-width: 50ch;
	padding-top: 5px;
}

code {
  font-family: 'Spline Sans Mono',monospace;
  font-size: 0.9em;
  color: var(--light-grey);
}

pre > code {
	tab-size: 2;
}

kbd {
  font-family: 'Spline Sans Mono',monospace;
  font-size: 0.9em;
  color: var(--black);
  border: 1px solid var(--white);
  padding: 1px 3px 2px 3px;
  background-color: var(--light-grey);
}

samp {
  font-family: 'Spline Sans Mono',monospace;
  font-size: 0.9em;
  color: var(--white);
}

sup, sub {
	font-size: 0.7em;
}

ul.list-square {
  list-style: square;
  text-align: justify;
  margin-left: 5px;
}

span.note {
  color: var(--red);
  font-size: 2ch;
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
  font-weight: 600;
}

.important-info {
  background-color: var(--important-info);
	max-width: fit-content;
}

.dyk {
	background-color: var(--dyk);
	color: #000;
	width: 30%;
	padding: 5px;
	float: right;
	position: sticky;
	right: 0;
	bottom: 7px;
}

.dyk > h2 {
	margin-top: 5px;
}

table, th, td {
  border-collapse: collapse;
  border: 2px solid var(--table-border);
}

th {
	padding: 10px;
}

td {
	padding: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--orange-red);
  background-color: var(--plum);
}

.article {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--rebecca-purple);
  background-color: var(--salmon);
  margin: 2px;
}

.aside {
  width: 30%;
  padding-left: 5px;
  margin-left: 25px;
  float: right;
  font-style: italic;
  background-color: var(--wheat);
}

.hearticle {
  background-color: var(--teal);
  color: var(--violet);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  font-size: 0.8rem;
}

/* Define o fundo do site como cinza escuro e as margens como automáticas */
/* div#interface {
  background-color: var(--bg-light-grey);
  width: 80%;
  margin: auto;
} */

/* Define o tamanho da fonte como 2rem para o elemento h1, 1.7rem para o elemento h2, 1.5rem para o elemento h3, 1.2rem para o elemento h4 e 1rem para o elemento p */
/* h1 {
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  font-size: 1.7rem;
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

h4 {
  font-size: 1.2rem;
  margin-left: 10px;
  margin-right: 10px;
}

h4#myHeader {
  background-color: var(--light-blue);
  color: var(--black);
  padding: 1.2em 0;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  width: 80vw;
}

p {
  font-size: 1rem;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
} */

/* Define o estilo das imagens */


/* Define as margens de formulários */
/* form {
  margin-left: 10px;
  margin-right: 10px;
} */

/* Define o estilo das listas */
/* ul.list-square {
  list-style: square;
  margin-left: 5px;
  text-align: justify;
} */

/* div.city {
  background-color: var(--tomato);
  color: var(--white);
  border: 2px solid var(--black);
  margin: 20px;
  padding: 20px;
}

div.main {
  background-color: var(--tomato);
  color: var(--blue);
  border: 2px solid var(--black);
  margin: 20px;
  padding: 20px;
}

span.note {
  color: var(--red);
  font-size: 2ch;
}

a:link {
  color: var(
    --link-color */
/*  ); */ /* Cor hex antiga que gerou o gradiente: #8D3BDA, #845EC2 */
  /* font-size: 1.5ch;
}

a:visited {
  color: var(--link-visited);
  font-size: 1.5ch;
}

a:hover {
  color: var(--link-hover);
  font-size: 1.5ch;
}

a#gen-links {
  margin-left: 10px;
  margin-right: 10px;
}

#code {
  color: var(--code);
  list-style-type: square;
  font-size: 1.8ch;
  background-color: var(--code-bg);
}

.tabela {
  background-color: var(--white);
  border-collapse: collapse;
  text-align: center;
  border-spacing: 30px;
}

th {
  border: solid 1px var(--white); */
/*  background-color: var(--th-bg); */ /* Cor hex sem alpha: #8D3BDA */
  /* border-collapse: collapse;
  text-align: center;
}

tr,
td { */
/*  background-color: var(--tr-td-bg); */ /* Cor hex sem alpha: #EE82EE */
  /* border: solid 1px var(--white);
} */

/*tr:nth-child(even) {
  background-color: var(--aquamarine);
}*/ /* If I comment out the previous 2 styles, this becomes active. even=linhas pares odd=linhas ímpares */

/*td:nth-child(even) {
  background-color: var(--aquamarine);
}*/ /* If I comment out the previous 2 styles, this becomes active. even=linhas pares odd=linhas ímpares */

/* caption {
  color: var(--link-color);
}

#layout-centered-div {
  width: 50%;
  height: 100px;
  border: 3px solid red;
  margin: auto;
}

.img1 {
  float: right;
}

.img2 {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
} */