@charset "utf-8";

* {
scroll-behavior: smooth;
font-family: "Montserrat", Helvetica, sans-serif; 
font-size: 1rem;
}

html {
background-image: linear-gradient(to left top, #7c7484, #6f6877, #635b6b, #57505f, #4b4453);
background-repeat: no-repeat;
background-size: cover;
}

body h3 {
background-color: #c69dec;
}
div#interface {
background-image: linear-gradient(to left bottom, #e4e1dc, #c9c6c1, #b0ada8, #96938e, #7e7b76);
width: 1400px;
height: 100%;
margin-block: -10px;
margin-inline: auto;
box-shadow:0px 0px 10px rgba(0, 0, 0, 0.25);
padding: 10px 20px 10px 20px;
text-align: justify;
}

header#cabecalho {
border-bottom: #4b4453 solid 1.5px;
}

header#cabecalho h1 {
text-transform: uppercase;
font-size: 3rem;
color: #8D3BDA;
text-shadow: 1px 1px 4px #4b4453;
margin-bottom: 1px;
}

header#cabecalho p {
font-weight: bold;
}

header#cabecalho button {
border: #4b4453 solid 1px;
border-radius: 5px;
background-color: #96938e;
padding: 5px;
margin-left: 1200px;
margin-bottom: 5px;
color: #8D3BDA;
font-weight: bold;
text-decoration: none;
}

header#cabecalho button:hover {
background-color: #7e7b76;
}

nav#menu {
display: block;
}

nav#menu ul {
list-style: none;
text-transform: uppercase;
color: #e4e1dc;
position: absolute;
top: -18px;
right: 230px;
}

nav#menu li {
display: inline-block;
padding: 5px;
background-color: #96938e;
padding: 5px;
border: #000000 solid 1px;
margin: 2px;
}

nav#menu li:hover {
background-color: #7e7b76;
}

nav#menu a {
text-decoration: none;
color: #8D3BDA;
font-weight: bold;
}

section#corpo {
display: block;
width: 960px;
float: left;
border-right: #4b4453 solid 1.5px;
padding-right: 20px;
}

section#corpo ul {
list-style: square;
}

table#tabela {
border: #4b4453 solid 2px;
border-spacing: 0px;
padding: 5px;
border-collapse: collapse;
margin-bottom: 10px;
vertical-align: middle;
}

table#tabela th {
border: #4b4453 solid 1.5px;
padding: 5px;
}

table#tabela th.cab {
font-weight: bold;
font-style: oblique;
text-align: center;
}

table#tabela td {
border: #4b4453 dotted 1px;
padding: 5px;
}

table#tabela td.ce {
text-align: right;
}

table#tabela td.cc {
text-align: center;
}

table#tabela td.cd {
text-align: left;
}

table#tabela caption {
font-size: 15pt;
font-weight: bolder;
}

table#tabela caption span {
display: block;
position: relative;
float: right;
font-style: italic;
font-size: 7pt;
margin-top: 10px;
}

aside#lateral {
display: block;
position: relative;
width: 400px;
float: right;
}

aside#lateral video {
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
}

aside#lateral audio {
display: block;
position: relative;
margin-left: auto;
margin-right: auto;
}

aside#lateral svg {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    float: right;
    opacity: 0.65;
    }

footer#rodape {
clear: both;
text-align: center;
padding: 0px;
border-top: #4b4453 solid 1.5px;
}

footer#rodape p {
text-align: center;
font-style: italic;
padding-top: 10px;
padding-bottom: 10px;
margin: 0px;
}

footer#rodape a {
text-decoration: none;
color: #8D3BDA;
}
/* Animação de fundo 1
html {
height:100%;
}

body {
margin:0;
}

.bg {
animation:slide 3s ease-in-out infinite alternate;
background-image: linear-gradient(-60deg, #8D3BDA 50%, #AD90C2 25%, #FFE9FF 25%, #61BAAD 50%);
bottom:0;
left:-50%;
opacity:.5;
position:fixed;
right:-50%;
top:0;
z-index:-1;
}

.bg2 {
animation-direction:alternate-reverse;
animation-duration:4s;
}

.bg3 {
animation-duration:5s;
}

h1 {
font-family:monospace;
}

@keyframes slide {
0% {
transform:translateX(-25%);
}
100% {
transform:translateX(25%);
}
} */